<a href="https://colab.research.google.com/github/yaqianhe/GIA/blob/main/GIA_Lecture07_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lecture 7: Strings
##Yaqian He
##Department of Geography
##University of Central Arkansas

##1. String Data Type
- A string is a sequence of characters/letters
- A string literal uses quotes '' or ""
- For strings, **+** means 'concatenate'
- When a string contains numbers, it is still a string
- We can convert numbers in a string into a number using **int()**

In [ ]:
#Example 1
str1 = 'Hello'
str2 = ' GIA'
print(str1+str2)

Hello GIA

In [ ]:
#Example 2
str3 = '123'
x = int(str3) + 1
print(x)

print(int(str3))
123+1

124
123

124

##2. Reading and Converting
- We prefer to read data in using **strings** and then parse and convert the data as we need
-This gives us more control over error situations and/or bad user input
-Input numbers must be **converted** from strings

In [ ]:
#Example 1
name = input('Enter:')
print(name)
type(name)

Enter:1235
1235

str

##3. Looking Inside Strings
- We can get any single character/ letter in a string using an index specified in **sqaure brackets**
-The index value must be an integer and starts at zero
-The index value can be an expression that is computed


![picture](https://drive.google.com/uc?export=view&id=1JBOn4Y0KAb9FjDBBj998S6U3ffBwppWC)

(Reference:http://www.dr-chuck.com/)

In [ ]:
#Example 1
fruit = 'banana'
letter = fruit[0]
print(letter)

b

In [ ]:
#Example 2
fruit = 'banana'
letter = fruit[5]
print(letter)

a

In [ ]:
#Example 3
fruit = 'banana'
letter = fruit[6]
print(letter)

IndexError: ignored

- You will get a **python error** if you attempt to index beyongd the end of a string
- So be careful when constructing index values

- The **colon operator** is used to slice a string
- The second number is one beyond the end of the slice - **up to but not including**
- If the second number is beyond the end of the string, it stops at the end

In [ ]:
#Example 1
fruit = 'banana'
letter = fruit[0:3]
print(letter)

ban

In [ ]:
#Example 2
fruit = 'banana'
letter = fruit[3:4]
print(letter)

a

In [ ]:
#Example 3
fruit = 'banana'
letter = fruit[3:7]
print(letter)

ana

In [ ]:
#Example 4
fruit = 'banana'
letter = fruit[:]
print(letter)

banana

##4. String Have Length
-The built-in function **len** gives us the length of a string

In [ ]:
#Example 1
fruit = 'banana'
stringlength = len(fruit)
print(stringlength)

6

##5. Looping Through Strings
- Using a **while** and **for** statement and **iteration variable**, and the **len** function, we can construct a loop to look at each of the letters in string individually.

In [ ]:
#Example 1
fruit = 'banana'
index = 0
while index < len(fruit):
  letter = fruit[index]
  print(index, letter)
  index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [ ]:
#Example 2
fruit = 'banana'
for letter in fruit:
  print(letter)

b
a
n
a
n
a

In [ ]:
#Example 3
fruit = 'banana'
count = 0
for letter in fruit:
  if letter == 'a':
    count = count + 1
print(count)

3

In [ ]:
#Example 4
fruit = ['banana','apple']
count = 0
for letter in fruit:
  print(letter)
  if letter == 'a':
    count = count + 1
print(count)

banana
apple
0

##6. More String Operations
## 6.1 Using in as a Logical Operator
- The **in** keyword can also be used to check to see if one string is 'in' another string
- The **in** expression is a logical expression that returns **True** or **False** and can be used in an **if** statement

In [ ]:
#Example 1
fruit = 'banana'
'f' in fruit

False

In [ ]:
#Example 2
fruit = 'banana'
if 'n' in fruit:
  print('Found it!')

Found it!

##6.2 String Comparison

In [ ]:
word = 'apple'
if word < 'banana':
  print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
  print('Your word,' + word + ', comes after banana.')
else:
  print('All right, bananas.')

Your word,apple, comes before banana.

## 6.3 String Library
- Python has a number of string **functions** which are in the **string library**
- These **functions** are already **built into** every string- we invoke them by appending the function to the string variable
- Theses **functions** do not modify the original string, instead they return a new string that has been altered

In [ ]:
#Example 1
great = 'HELLO GIA'
smaller = great.lower()
print(smaller)

hello gia

In [ ]:
#Example 1
great = 'HELLo GIA'
bigger = great.upper()
print(bigger)

HELLO GIA

In [ ]:
dir(great)

https://docs.python.org/3/library/stdtypes.html#string-methods

##6.4 Searching a String
- We use the **find()** function to search for a substring within another string
- **find()** finds the first occurrence of the substring
- If the substring is not found, **find()** returns -1
- **Remember** that string position starts at zero

In [ ]:
#Example 1
fruit = 'banana'
pos = fruit.find('na')
print(pos)

2

In [ ]:
#Example 2
fruit = 'banana'
pos = fruit.find('z')
print(pos)

-1

##6.5 Searching and Replacing
- The **replace()** function is like a 'search and replace' operation in a word processor
- It replaces **all occurences** of the **search string** with the **replacement string**

In [ ]:
#Example 1
old = 'Hello GIA'
new = old.replace('GIA', 'GIS')
print(new)

Hello GIS

In [ ]:
#Example 2
old = 'HeXXo GIA'
new = old.replace('X', 'l')
print(new)

Hello GIA

In [ ]:
#Example 3
old = 'HeXXo GIA'
new = old.replace('x', 'l')
print(new)

HeXXo GIA

##6.6 Stripping Whitespace
- Sometimes we want to take a string and remove whitespace at the begining and/or end
- **Istrip()** and **rstrip()** remove whitespace at the left or right
- **strip()** removes both beginning and ending whitespace

In [ ]:
#Example 1
old = '  Hello GIA'
new = old.lstrip()
print(new)

Hello GIA

In [ ]:
#Example 1
old = '  Hello GIA'
new = old.rstrip()
print(new)

  Hello GIA

In [ ]:
#Example 1
old = '  Hello GIA '
new = old.strip()
print(new)

Hello GIA

##6.7 Parsing and Extracting
From 'yhe@uca.edu Thur Feb' to extract domain

In [ ]:
#Example 1
data = 'yhe@uca.edu Thur Feb'
atpos = data.find('@')
print(atpos)

3

In [ ]:
sppos = data.find(' ', atpos)
print(sppos)

11

In [ ]:
host = data[atpos+1:sppos]
print(host)

uca.edu

Reference: http://www.dr-chuck.com/