<a href="https://colab.research.google.com/github/yaqianhe/GIA/blob/main/Lecture08_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Lecture 8: Lists
##Yaqian He
##Department of Geography
##University of Central Arkansas

##1. Lists
A **List** is a kind of collection
- A **collection** allows us to put many values in a single **"variable"**
- A **collection** is nice because we can carry all many values around in one convenient package.

In [ ]:
#Example 1
friends = ['Josephy','Glenn','Sally']
carryon = ['socks','shirt','perfume']
mynumber = [10,30,50,70,80]
print(mynumber)
print(friends)
print(carryon)

[10, 30, 50, 70, 80]
['Josephy', 'Glenn', 'Sally']
['socks', 'shirt', 'perfume']

##2. List constant
- **List** constants are surrounded by square brackets and the elements in the list are separated by commas
- A **list** element can be any Python object - even another list
- A **list** can be empty

In [ ]:
#Example 1
x = ['red',24,76,80]
print(x)

['red', 24, 76, 80]

In [ ]:
#Example 2
x = [1, [5,6],7]
print(x)

[1, [5, 6], 7]

In [ ]:
#Example 3
x = []
print(x)

[]

In [ ]:
#Example 4
for i in [5,4,3,2,1]:
  print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

##3. Looking Inside Lists
Just like strings, we can get at any single element in a list using an index specified in **square brackets**

In [ ]:
#Example 1
x = ['red',24,76,80]
print(x[1])

24

In [ ]:
#Example 2
x = ['red',24,76,80]
print(x[0])

red

In [ ]:
#Example 3
x = [1, [5,6,9,10,11],7]
print(x[1])

[5, 6, 9, 10, 11]

##4. Lists are mutable
- Strings are **"immutable"**- we cannot change the contents of a string- we must make a **new string** to make any change
- Lists are **"mutable"**- we can change an element of a list using the **index** operator

In [ ]:
#Example 1
fruit = 'Banana'
fruit[0] = 'b'

TypeError: ignored

In [ ]:
#Example 2
lotto = [2,14,26,41,63]
print(lotto)

lotto[0] = 23
print(lotto)

[2, 14, 26, 41, 63]
[23, 14, 26, 41, 63]

##5. How long is a list?

- As string, we can use **len()** function to calculate the size of a list
- The **len()** function takes a **list** as a parameter and returns the number of **elements** in the **list** 
- Actually **len()** tells us the number of elements of any set or sequence (such as a string....)

In [ ]:
#Example 1
great = 'Hello GIA'
print(len(great))

9

In [ ]:
#Example 2
great = ['Hello', 'GIA']
print(len(great))

2

##6. More List Operations
##6.1 range()
range() returns an immutable sequence object of numbers depending upon the definitions used:

**range(stop)**
- Returns a sequence of numbers starting from 0 to stop - 1
- Returns an empty sequence if stop is negative or 0.

**range(start, stop, step)**

We can construct an index loop using **for** and an integer **iterator**

In [ ]:
#Example 1
x = list(range(4))
print(x)

[0, 1, 2, 3]

In [ ]:
#Example 2
x = list(range(1900,2001,3))
print(x)

[1900, 1903, 1906, 1909, 1912, 1915, 1918, 1921, 1924, 1927, 1930, 1933, 1936, 1939, 1942, 1945, 1948, 1951, 1954, 1957, 1960, 1963, 1966, 1969, 1972, 1975, 1978, 1981, 1984, 1987, 1990, 1993, 1996, 1999]

In [ ]:
#Example 3
x = range(4)
for i in x:
  print(i)

0
1
2
3

In [ ]:
#Example 4
x = [5,4,3,2,1]
y = list(range(len(x)))
print(y)

[0, 1, 2, 3, 4]

In [ ]:
#Example 5
x = [5,4,3,2,1]
for i in range(len(x)):
  print(x[i])
print('Blastoff!')


for i in [5,4,3,2,1]:
  print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!
5
4
3
2
1
Blastoff!

##6.2 Concatenate
We can create a new list by adding two existing lists together

In [ ]:
#Example 1
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

##6.3 Slice a list
Like string, we can also slice a list. 

**Remember**, the second number is **"up to but not including"**

In [ ]:
#Example 1
x = [9,41,12,3,74,15]
y = x[1:3]
print(y)

[41, 12]

In [ ]:
#Example 2
x = [9,41,12,3,74,15]
y = x[:]
print(y)

[9, 41, 12, 3, 74, 15]

In [ ]:
#Example 3
x = [9,41,12,3,74,15]
y = x[2:]
print(y)

[12, 3, 74, 15]

##6.4 List method
Like string, there are some in-built function that can be applied to a list.

You could refer to https://docs.python.org/3/tutorial/datastructures.html for more information

In [ ]:
x = list()
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

##6.4.1 Build a list
- We can create an empty **list** and then add elements using the **append** method
- The **list** stays in order and new elements are **added** at the end of the **list**

In [ ]:
#Example 1
stuff = list()
stuff.append('book')
stuff.append(99)
stuff.append('GIA')
print(stuff)

['book', 99, 'GIA']

##6.4.2 Sort a list
- A list can hold many items and keeps those items in the order until we do something to change the order
- A **list** can be sorted (i.e., change its order)

In [ ]:
#Example 1
x = [9,41,12,3,74,15]
x.sort()
print(x)

[3, 9, 12, 15, 41, 74]

In [ ]:
##Example 2
friends = ['Josephy','Glenn','Sally']
friends.sort()
print(friends)

['Glenn', 'Josephy', 'Sally']

##6.5 Is something in a list?
- Like string, python provides two **operators** that let you check if an item is in a list
- These are logical operators that return **True** or **False**
- They do not modify the list

In [ ]:
#Example 1
some = [1,9,21,10,16]
9 in some

True

In [ ]:
15 in some

False

In [ ]:
25 in some

False

In [ ]:
20 not in some

True

There are other in-built functions, such as min(),max(),sum(), can be applied to a list.

##6.6 Converting between string and list
We can **Split()** to break a string into parts and produces a list of strings.

In [ ]:
#Example 1
x = 'With three words'
type(x)

str

In [ ]:
y = x.split()
type(y)

list

In [ ]:
print(y)

['With', 'three', 'words']

In [ ]:
#Example 2
x = 'Hello       GIA'
y = x.split()
print(y)

['Hello', 'GIA']

When you do not specify a **delimiter**, multiple spaces are treated like one delimiter.

You can specify what **delimiter** character to use in the splitting.

In [ ]:
#Example 1
x = 'Hello;GIA;2021;Spring'
y = x.split()
print(y)

['Hello;GIA;2021;Spring']

In [ ]:
#Example 2
x = 'Hello;GIA;2021;Spring'
y = x.split(';')
print(y)

['Hello', 'GIA', '2021', 'Spring']

Reference: http://www.dr-chuck.com/

In [ ]:
# A note for difference between list and vector
#Example 4
import numpy as np
x=[2,14,26,41,63]
print(x)
lotto = np.array(x) #convert list to a vector
print(lotto)

[2, 14, 26, 41, 63]
[ 2 14 26 41 63]

In [ ]:
#Replace values larger than 26 with 26
x[x>26]=26

TypeError: ignored

In [ ]:
lotto[lotto>26]=26 #It is the easiest way
print(lotto)

[ 2 14 26 26 26]